.header {
  background-color: black;
  width: 100%;
  height: 85px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.pic {
  max-width: 200px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.reloj {
  display: flex;
  align-items: center;
  margin: 0;
  max-width: 100%;
  flex-shrink: 1;
}
