.sidebar{
    width: 400px;
    height: 700px;
    background: linear-gradient(rgb(0, 0, 0),rgb(59, 35, 13))
};

.user {
    size: 10px;
    color: white;
}


.userbutton {
 border: none;
 background-color: transparent;
 font-size: 20px;
 margin-left: 150px;
}
.typeButton {

 border: none;
 background-color: transparent;
 font-size: 20px;
 margin-top: 40px;
 margin-left: 5px;
}

.MsjHello {
    font-size: xx-large;
    margin-top: 30px;
}
.cartBadge{
    background-color: transparent;
    border-radius: 50%;
    margin-left: 270px;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
   

}


.ExitIcon {
    size: 20px;
    color: white;
   margin-left: 200px ;
}

.SectionsName{

    margin-left: 5px;
    font-size: medium;
    color: rgb(133, 131, 131);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.LogoLucide {
    margin-left: 5px;
    color:  rgb(133, 131, 131);
    size: 20px;
 }