.sidebar{
    width: 300px;
    height: 740px;
    background: linear-gradient(rgb(0, 0, 0),rgba(117, 114, 146, 0.452))
};

.user {
    size: 10px;
    color: white;
}


.userbutton {
 border: none;
 background-color: transparent;
 font-size: 20px;
 margin-left: 30px;
}
.typeButton {

 border: none;
 background-color:transparent;
 font-size: 20px;
 margin-top: 40px;
 margin-left: 5px;

}

.MsjHello {
    font-size: xx-large;
    margin-top: 30px;
}
.cartBadge{
    background-color: blue;
    border-radius: 20%;
    margin-left: 20px;
   

}

.ExitIcon {
    size: 10px;
    color: white;
  
    border: none;
}

.SectionsName{

    margin-left: 5px;
    font-size: medium;
    color: rgb(133, 131, 131);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.LogoLucide {
    margin-left: 5px;
    color:  rgb(133, 131, 131);
    size: 20px;
 }