
.categoryContainer {
  flex: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(rgb(0, 0, 0), rgba(117, 114, 146, 0.452));
}

.content
h1{
  font-size:small;

}

.content {
  width: 170px;                
  height: 700px; 
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: 0.4s;
}

.grid:hover .content{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.795);

}

.grid {
  position: relative;
  width: 170px;
  height: 700px;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 1rem; 
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.backBtn {
  position: fixed;
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}



.productBtn {
  margin-top: 30px;
  height: 50px;   
  background-color: #4b4646;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.drink {
 
  font-size: medium;
}

.productBtn:hover {
  transform: scale(1.05);
  background-color: #666;
}

.categoryImg {
  width: 100%;       
  height: 100%;       
  object-fit:cover;  
  padding: 0;
  display: block;
}
