.categoryContainer {
  flex: 1;                   
  position: relative;
  overflow: hidden; 
  display: flex;
  justify-content: center;     
  align-items: flex-start;     
  height: 100%;                 
  box-sizing: border-box;
  gap: 20px;
}

.content
h1{
  font-size: 12px;

}

.content {
  width: 170px;                
  height: 700px; 
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: 0.6s;
}

.grid:hover .content{
  opacity: 1;
  background-color: rgba(0,0,0,0.6);

}

.grid {
  position: relative;
  width: 170px;
  height: 700px;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
}


.products {
  display: flex;
  flex-direction: row;      
  gap: 0.5rem;
  margin-right: 350px;
}


.backBtn {
  position: fixed;
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 16px;
}


.productBtn {
  width: 150px;
  height: 80px;
  background-color: #4b4646;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  padding-top: 25px;
  margin-top: 60px;
  
  transition: transform 0.2s, background-color 0.2s;
}

.productBtn:hover {
  transform: scale(1.05);
  background-color: #666;
}

.categoryImg {
  width: 100%;       
  height: 100%;       
  object-fit:cover;  
  padding: 0;
  display: block;
}
